$lato-font-path: "~lato-font/fonts"
$roboto-font-path: "~roboto-fontface/fonts/roboto-slab"

@font-face
  font-family: 'Arvo Regular'
  src: url('../fonts/Arvo-Regular.ttf')
  font-weight: 400
  font-style: normal
  font-display: $font-display

@font-face
  font-family: 'Roboto Slab '
  src: url('../fonts/RobotoSlab-Regular.ttf')
  font-weight: 400
  font-style: normal
  font-display: $font-display
